body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}


.navbar-nav .nav-item {
    margin-right: 20px;
}


.navbar {
    padding: 10px 20px;
}

/* Menambahkan efek hover pada menu */
.navbar-nav .nav-item .nav-link {
    transition: background-color 0.3s ease, color 0.3s ease;
}


.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item .nav-link:hover {
    background-color: #198754;
    color: white;
    border-radius: 5px;
}


.navbar-nav .nav-item.active .nav-link {
    background-color: #218838;
    color: white;
    border-radius: 5px;
}

.navbar, .navbar-nav .nav-item .nav-link {
    font-family: 'Poopert', sans-serif;
}


.skill-icon {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.skill-icon:hover {
    transform: scale(1.2);
}

.about-text {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}


section {
    padding: 60px 0;
}

footer p {
    margin: 0;
}
